 .fadePane {
    -fx-background-color: rgba(175, 175,175,0.8);
    -fx-background-radius: 18;
 }

 .burgerButton{
     -fx-background-color: rgba(175, 175,175,0.8);
     -fx-background-radius: 10;
 }

 .textStyle{
     -fx-text-fill: white;
     -fx-alignment: center;
 }

 .textStyleLeft{
     -fx-text-fill: white;
     -fx-alignment: center-left;
 }

 .textStyleRight{
     -fx-text-fill: white;
     -fx-alignment: center-right;
 }
